This Jupyter Notebook will merge all CSV files into one. It will also remove any items from the State column that is not an official US state. Verify by running dataframe["State"].unique to get an array of state items that do not match the US states. Also duplicate reviews are removed from the dataframe so we do not include the same review in our analysis. Lastly the dataframe is sent to a new CSV to be used in the graphing and analysis section of the project.

In [ ]:
import pandas as pd

In [18]:
data1=pd.read_csv("Merged.csv")

In [19]:
data3=pd.read_csv("Merged1_Milan.csv")

In [20]:
data2=pd.read_csv("Merged2.csv")

In [21]:
data4=pd.read_csv("Merged5.csv")

In [22]:
merged_set = pd.concat([data1, data2, data3, data4], ignore_index=True)

In [24]:
merged_set_non_us_states_removed = merged_set[merged_set.State != ('BC')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('QC')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('GLG')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('EDH')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('ESS')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('AB')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('TFW')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('WOR')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('STS')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('DUD')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('XWM')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('SHR')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('KEN')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('THR')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('NB')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('HK')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('D')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('ON')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('ACT')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('XGL')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('GLS')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('BAS')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('BST')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('SG')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('BC')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('NTL')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('SWA')]
merged_set_non_us_states_removed = merged_set_non_us_states_removed[merged_set_non_us_states_removed.State != ('BGE')]
merged_set_non_us_states_removed["State"].unique()

array(['KS', 'MO', 'NY', 'PA', 'OK', 'NC', 'TX', 'MA', 'TN', 'WA', 'OR',
       'WI', 'OH', 'DE', 'IL', 'KY', 'MI', 'GA', 'RI', 'CA', 'UT', 'CT',
       'FL', 'AL', 'IN', 'MN', 'MD', 'MT', 'AZ', 'AK', 'WV', 'NJ', 'VT',
       'NH', 'NV', 'NM', 'SC', 'VA', 'CO', 'WY', 'MS', 'LA', 'AR', 'NE',
       'IA', 'ND', 'DC', 'ID', 'ME', 'HI', 'SD'], dtype=object)

In [28]:
merged_set_no_duplicate_reviews=merged_set_non_us_states_removed.drop_duplicates(subset=['Review'], keep=False)
merged_set_no_duplicate_reviews.head()

,Unnamed: 0,Business ID,Review,Compound,Business Name,Business Alias,Category,City,State,ZipCode,Lat,Long,Review Count,Rating
0,0,f3rkiilfzZVJlK0oxsmjqQ,My case was finally put to rest this morning w...,0.6369,"Langston Law, Chartered",langston-law-chartered-olathe,lawyers,Olathe,KS,66061,38.881756,-94.818985,3,5.0
1,1,f3rkiilfzZVJlK0oxsmjqQ,"my work has volunteer program, that u can sign...",0.5853,"Langston Law, Chartered",langston-law-chartered-olathe,lawyers,Olathe,KS,66061,38.881756,-94.818985,3,5.0
2,2,f3rkiilfzZVJlK0oxsmjqQ,Mr. Langston has helped me through a couple of...,0.4767,"Langston Law, Chartered",langston-law-chartered-olathe,lawyers,Olathe,KS,66061,38.881756,-94.818985,3,5.0
3,3,t7LBdL4HifGJlMbn92WX7g,"If you are looking for a reliable, TRUSTWORTHY...",0.6523,Garretson & Toth,garretson-and-toth-olathe,criminaldefense,Olathe,KS,66061,38.881749,-94.819128,3,5.0
4,4,t7LBdL4HifGJlMbn92WX7g,"Tyler is an excellent, knowledgeable, consider...",0.8591,Garretson & Toth,garretson-and-toth-olathe,criminaldefense,Olathe,KS,66061,38.881749,-94.819128,3,5.0

In [29]:
merged_set_no_duplicate_reviews=merged_set_no_duplicate_reviews.drop(['Unnamed: 0'], axis=1)
merged_set_no_duplicate_reviews.head()

,Business ID,Review,Compound,Business Name,Business Alias,Category,City,State,ZipCode,Lat,Long,Review Count,Rating
0,f3rkiilfzZVJlK0oxsmjqQ,My case was finally put to rest this morning w...,0.6369,"Langston Law, Chartered",langston-law-chartered-olathe,lawyers,Olathe,KS,66061,38.881756,-94.818985,3,5.0
1,f3rkiilfzZVJlK0oxsmjqQ,"my work has volunteer program, that u can sign...",0.5853,"Langston Law, Chartered",langston-law-chartered-olathe,lawyers,Olathe,KS,66061,38.881756,-94.818985,3,5.0
2,f3rkiilfzZVJlK0oxsmjqQ,Mr. Langston has helped me through a couple of...,0.4767,"Langston Law, Chartered",langston-law-chartered-olathe,lawyers,Olathe,KS,66061,38.881756,-94.818985,3,5.0
3,t7LBdL4HifGJlMbn92WX7g,"If you are looking for a reliable, TRUSTWORTHY...",0.6523,Garretson & Toth,garretson-and-toth-olathe,criminaldefense,Olathe,KS,66061,38.881749,-94.819128,3,5.0
4,t7LBdL4HifGJlMbn92WX7g,"Tyler is an excellent, knowledgeable, consider...",0.8591,Garretson & Toth,garretson-and-toth-olathe,criminaldefense,Olathe,KS,66061,38.881749,-94.819128,3,5.0

In [30]:
merged_set_no_duplicate_reviews.to_csv(path_or_buf="more_reviews_no_duplicates.csv", sep=',')