In [173]:
import pandas as pd
import json
import numpy as np
import requests
from config import (client_id, api_key)
from pprint import pprint
import pydbgen
from pydbgen import pydbgen

In [174]:
business_data={"Business ID":[],
               "Business Name":[],
               "Business Alias":[],
               "City":[],
               "State":[],
               "ZipCode":[],
               "Lat":[],
               "Long":[],
               "Review Count":[],
               "Rating":[],
              }
review_data={"Business ID":[],
             "Review":[],
            }

In [182]:
myDB=pydbgen.pydb()
city=[]
for cities in range(2):
    city.append(myDB.city_real())
city_yelp=pd.DataFrame(city)
city_yelp=city_yelp.rename(columns={0:"US Cities"})
city_yelp.head()

  US Cities
0  Artesian
1   Cranell

In [183]:
api_key=api_key
headers = {"Authorization": (f"Bearer {api_key}")}
url="https://api.yelp.com/v3/businesses/search?"
review_url="https://api.yelp.com/v3/businesses/"
term="McDonald's"
radius = 400
counter = 1

In [184]:
for index, row in city_yelp.iterrows():
    random_city = row['US Cities']
    #print(f"{counter}: {random_city}")
    yelp_response2 = requests.get((f"{url}term={term}&location={random_city}&radius={radius}"), headers=headers).json()
    counter+=1
    #print(len(yelp_response2["businesses"]))
    for x in range(len(yelp_response2["businesses"])):
        try:
            business_data["Business ID"].append(yelp_response2["businesses"][x]["id"])
            business_data["Business Name"].append(yelp_response2["businesses"][x]["name"])
            business_data["Business Alias"].append(yelp_response2["businesses"][x]["alias"])
            business_data["City"].append(yelp_response2["businesses"][x]["location"]["city"])
            business_data["State"].append(yelp_response2["businesses"][x]["location"]["state"])
            business_data["ZipCode"].append(yelp_response2["businesses"][x]["location"]["zip_code"])
            business_data["Lat"].append(yelp_response2["businesses"][x]["coordinates"]["latitude"])
            business_data["Long"].append(yelp_response2["businesses"][x]["coordinates"]["longitude"])
            business_data["Review Count"].append(yelp_response2["businesses"][x]["review_count"])
            business_data["Rating"].append(yelp_response2["businesses"][x]["rating"])
        except: 
            print(f"     No dining locations found in {random_city}.")

In [185]:
#pprint(yelp_response2)

In [186]:
business_data

{'Business ID': ['AY3EfUqP3aAP0LSUYTsoGw'],
 'Business Name': ['Red Bandana'],
 'Business Alias': ['red-bandana-sulphur'],
 'City': ['Sulphur'],
 'State': ['OK'],
 'ZipCode': ['73086'],
 'Lat': [34.5073252],
 'Long': [-96.9700569],
 'Review Count': [2],
 'Rating': [3.0]}

In [187]:
graph_data=pd.DataFrame.from_dict(business_data, orient='columns', dtype=None, columns=None)
graph_data

,Business ID,Business Name,Business Alias,City,State,ZipCode,Lat,Long,Review Count,Rating
0,AY3EfUqP3aAP0LSUYTsoGw,Red Bandana,red-bandana-sulphur,Sulphur,OK,73086,34.507325,-96.970057,2,3.0

In [181]:
# for id in business_data["Business ID"]:
#     yelp_response3 = requests.get((f"{review_url}{id}/reviews"), headers=headers).json()
#     pprint(yelp_response3)
#     for x in range(len(yelp_response3["reviews"])):
#         try:
#             review_data["Business ID"].append(yelp_response3["reviews"][x]["id"])
#             review_data["Review"].append(yelp_response3["reviews"][x]["text"])
#         except:
#             print("skipping")

In [164]:
#review_data

In [165]:
#graph_review=pd.DataFrame.from_dict(review_data, orient='columns', dtype=None, columns=None)
#graph_review